 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .section-home {
     background-color: rgb(26, 188, 156) !important;
     padding-top: 103px;    }

 .line-one-Home {

     width: 60px;
     height: 5px;
     background-color: white;
     transform: translateX(-28%);
     color: white;

 }

 .line-two-Home {
     width: 60px;
     height: 5px;
     background-color: white;
     transform: translateX(21%);
     color: white;
 }

 .star-Home {
     color: white;
 }